h1 {
  font-family: Georgia, serif;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
}
p.paragraph {
  color: grey;
}
div.flex{
  display: flex;
}
div.chart {
    max-width: 800px;
    max-height: 500px;
}
div.buttons {
  flex: 1;
}
