h1 {
  font-family: Georgia, serif;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
}
p.paragraph {
  color: grey;
}
div#chart1 {
    max-width: 800px;
    max-height: 500px;
}
div#set1 {
  max-width: 100px;
}
